#main-body {
    background: url("Images/foggyForestImage.jpeg") center/cover no-repeat;
    height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden;
}

#main-body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: url("Images/foggyForestImage.jpeg") center/cover no-repeat;
    filter: blur(18px);
    transform: scale(1.1);
    z-index: -1;
}

#main-menu-box {
    position: relative;
    width: 990px;
    height: 575px;
    margin: 100px auto;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.363);
    box-sizing: border-box;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    padding: 115px 0 80px;
}


#main-menu-box {
    background: url("Images/foggyForestImage.jpeg") center/cover no-repeat;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8), 15px 15px 15px rgba(0, 0, 0, 0.35);
    padding: 115px 0 220px;
}

.main-logo {
    width: 185px;
    height: 150px;
}

.search-container {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    width: 480px;
    margin: 0 auto;
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.76);
    overflow: hidden;
}

.search-container input {
    flex: 1;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.7);
    padding: 15px 20px;
    color: rgba(255, 255, 255, 0.93);
    font-size: 16px;
    border-radius: 25px 0 0 25px;
}

.search-container input::placeholder {
    color: rgba(255, 255, 255, 0.48);
}

.search-container button {
    background: rgba(39, 39, 39, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.4);
    color: white;
    cursor: pointer;
    padding: 14px 20px;
    border-radius: 0 25px 25px 0;
    display: flex;
    align-items: center;
    margin-left: 3px;
    justify-content: center;
    transition: background 0.3s, transform 0.2s;
}

.search-container button:hover {
    background: rgba(27, 27, 27, 0.8);
    transform: scale(1.01);
}

.search-container .material-icons {
    color: rgb(8, 12, 20);
    font-size: 21px;
}

.weather-info {
  display: flex;
  gap: 18px;
  justify-content: center;
  align-items: stretch;
  margin-top: 40px;
}

.info-box {
  width: 130px;
  height: 50px;
  padding: 10px 16px;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.404);
  border: 1px solid rgba(255, 255, 255, 0.055);
  box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.7);
  color: rgba(255, 255, 255, 0.93);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  backdrop-filter: blur(2px);
}

.info-label {
  font-size: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  opacity: 0.7;
  margin-bottom: 4px;
  margin-top: 5px;
}

.info-value {
  font-size: 16px;
  font-weight: 500;
}

.error-message {
  margin-top: 10px;
  color: #fae8e8;
  font-size: 14px;
  text-shadow: 0 0 4px rgba(0,0,0,0.7);
}
